{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>liblab</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
</head>

<body>
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">
        <div class="col-12 user-img">
          <img src="http://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves">

          <form method="POST">
            <div class="form-group">
              {% csrf_token %}
             
              <input type="text" class="form-control" placeholder="Enter Username" name="username" id="id_username" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Enter Password" id="id_password1" name="password1" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" id="id_password2" name="password2" required>
              </div>
            <button type="submit" class="btn"><i class="fas fa-user-plus"></i>Sign Up</button>
          </form>
          </form>

          <div class="col-12 sign">
            <p>Have an account?</p></br>
            <a href='http://127.0.0.1:8000/login'>Login</a>
          </div>

        </div>
      </div> <!-- End of modal content-->
    </div>
  </div>
</body>


</html>